.hide {
    display: none;
}

body {
    font-family: "Roboto",
        sans-serif;
    color: #434455;
    background-color: #fff;
}

/* Block page scroll*/

body:has(.backdrop-is-open) {
    overflow: hidden;
}

ul,
ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

a {
    text-decoration: none;
    display: inline-block;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

button {
    font-family: inherit;
    color: currentColor;
    cursor: pointer;
}

input {
    font-family: inherit;
}

/*common*/
.container {
    max-width: 320px;
    padding: 0 16px;
    margin: 0 auto;
}
@media screen and (min-width: 768px) {
    .container {
        max-width: 768px;
    }
}
@media screen and (min-width: 1158px) {
    .container {
        max-width: 1158px;
        padding: 0 15px;
    }
}

/*page header*/
.page-header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-nav-list,
.contacts {
    display: none;
}

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 117%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.header-logo {
    display: block;
    padding: 16px 0;
}

.header-logo .logo-part {
    color: #2e2f42;
}

.burger-btn {
    padding: 0;
    border: none;
    background-color: transparent;
}

.burger-icon {
    display: block;
    fill: #2F2F37;
}

@media screen and (min-width: 768px) {
.burger-btn {
    display: none;
}
.header-nav-list {
    display: flex;
    align-items: center;
    gap: 40px;
}
.header-nav {
    display: flex;
    align-items: center;
}

.header-logo {
    display: block;
    padding: 24px 0;
    margin-right: 120px;
}

.nav-link {
    padding: 24px 0;
    display: block;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.nav-link.current {
    position: relative;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link.current::after {
    content: '';

    position: absolute;
    left: 0;
    bottom: -1px;

    width: 100%;
    height: 4px;

    background-color: #404BBF;
    border-radius: 2px;


}
.contacts-link:hover,
.contacts-link:focus,
.nav-link:hover,
.nav-link:focus,
.nav-link.current {
    color: #404bbf;

}
.contacts {
    font-style: normal;
    display: block;
}
.contacts-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.contacts-link {
    display: block;
    font-weight: 400;
    font-size: 12px;
    line-height: 117%;
    letter-spacing: 0.04em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
}

@media screen and (min-width: 1158px) {
.header-logo {
    margin-right: 76px;
}
.contacts-list {
    flex-direction: row;
    align-items: center;
    gap: 40px;
}
.contacts-link {
    padding: 24px 0;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
}
}
/*Hero section*/
.section {
    padding: 72px 0;
    max-width: 320px;
    margin-right: auto;
    margin-left: auto;
}
.main-section {
    background-color: #2e2f42;
    padding: 78px 0;
    background-image: linear-gradient(to bottom,
            rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)),
        url(../images/hero-background.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.main-text-hero {
    max-width: 216px;
    margin-left: auto;
    margin-right: auto;
    font-weight: 700;
    font-size: 36px;
    line-height: 111%;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
}
.main-button {
    display: block;
    text-align: center;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    padding: 16px 32px;
    margin-top: 72px;
    margin-left: auto;
    margin-right: auto;
    background-color: #4d5ae5;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.04em;
    color: #fff;
    outline: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.main-button:hover,
.main-button:focus {
    background-color: #404bbf;

}

@media screen and (min-width: 768px) {
.section {
    padding: 112px 0;
    max-width: 768px;
}
.main-section {
    padding: 112px 0;
}
.main-text-hero {
    max-width: 496px;
    font-size: 56px;
    line-height: 107%;
}
}
@media screen and (min-width: 1158px) {
.section {
    padding: 120px 0;
    max-width: 1440px;
}
.main-section {
    padding: 188px 0;
}
}
@media screen and (min-width: 1158px) {
    
    
}

/*First section*/
.page-section {
    max-width: 100%;
    background-color: #FFFFFF;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.descr-svg {
    display: none;
}
.descr-list {
    display: flex;
    flex-direction: column;
    gap: 72px;
}
.descr-item {
    margin-bottom: 8px;
    font-weight: 700;
    font-size: 36px;
    line-height: 111%;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
}
.descr-m {
    margin: 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #434455;
}
@media screen and (min-width: 768px) {
.descr-list {
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: row;
    gap: 24px;
}
.descr {
    width: calc((100% - 24px) / 2);
}
}
@media screen and (min-width: 1158px) {
.descr-list {
    gap: 24px;
}
.descr {
    width: calc((100% - 72px) / 4);
}
.descr-container {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #8E8F99;
    border-radius: 4px;
    width: 264px;
    height: 112px;
    background-color: #F4F4FD;
    margin-bottom: 8px;
}
.descr-svg {
    display: block;
}
.descr-item {
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
}
.descr-m {
    font-weight: 400;
}
}
/*Second section*/
.second-page-section {
    max-width: 100%;
    background-color: #F4F4FD;
}
.team-header {
    text-transform: capitalize;
    font-weight: 700;
    font-size: 36px;
    line-height: 111%;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 72px;
}
.images {
    justify-content: center;
    align-items: center;
}
.img-list {
    background-color: #FFFFFF;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
        0 1px 1px 0 rgba(46, 47, 66, 0.16),
        0 1px 6px 0 rgba(46, 47, 66, 0.08);
    box-sizing: border-box;
    text-align: center;
    border-radius: 0px 0px 4px 4px;
    width: 100%;
    height: 100%;
    margin-bottom: 72px;
}
.img-d-container {
    padding: 32px 0;
}
.img-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 8px;
}
.img-descr {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;
    margin-bottom: 8px;
}
.social-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
    max-width: 264px;
}   
.social-list {
    display: flex;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
}
.social-link:hover,
.social-link:focus {
    background-color: #404BBF;
}
.social-link {
    display: flex;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    background-color: #4d5ae5;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team-svg {
    fill: #f4f4fd;
}

@media screen and (min-width: 768px) {
.images {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.img-list {
    margin-right: 24px;
}
}
/*Third section*/
.portfolio-header {
    font-weight: 700;
    font-size: 36px;
    line-height: 111%;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    text-transform: capitalize;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 72px;
}
.section .page-section {
    background: var(--white);
}
.port-section {
    display: flex;
    flex-direction: column;
    gap: 48px;
    justify-content: center;
    min-width: 288px;
    max-width: 288px;
    margin: 0 auto;
}
.port-img {
    display: block;
    width: 100%;
    height: auto;
}
.port-list {
    width:288px;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.port-list:hover {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
}
.overlay {
    display: none;
}

.portfolio-img-container {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}       

@media screen and (min-width: 768px) {
.port-section {
    flex-direction: row;
        flex-wrap: wrap;
        gap: 72px 24px;
        min-width: 736px;
        max-width: 736px;
}
.port-list {
    width: 356px;
}
}
@media screen and (min-width: 1158px) {
.port-section {
        gap: 48px 24px;
        min-width: 1128px;
        max-width: 1128px;
    }
.port-list {
    width: 360px;
}
.thumb {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.overlay {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transform: translateY(100%);
    padding: 40px 32px;
    text-align: left;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #F4F4FD;
    background-color: #4D5AE5;
}

.port-list:hover .overlay {
    transform: translateY(0);
}
}
/*Footer section*/
.footer-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: baseline;
}
.page-footer {
    background-color: #2e2f42;
    padding: 96px 0;
}
.footer-logo .logo-part {
    color: #f4f4fd;
}
.footer-logo {
    display: flex;
    justify-content: center;
    margin-bottom: 16px;
}
.footer-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    max-width: 288px;
}
.footer-social-text {
    text-align: center;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    margin-bottom: 16px;
}
.footer-social-link {
    display: flex;
    width: 40px;
    height: 40px;
    background-color: #4D5AE5;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-left-part {
    margin-bottom: 72px;
}
.footer-icon {
    display: flex;
    gap: 16px;
}
.footer-social-link:hover,
.footer-social-link:focus {
    background-color: #31D0AA;
}
.footer-svg {
    fill: #f4f4fd;
}
.footer-right-part {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 72px;
}
.footer-subscribe-container {
    display: flex;
    flex-direction: column;
}
.footer-subscribe-text {
    text-align: center;
    margin-bottom: 16px;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #ffffff;
}
.footer-form {
    display: flex;
    flex-direction: column;
}
.subscribe-input {
    width: 264px;
    height: 40px;
    padding-left: 16px;
    margin-bottom: 16px;
    background-color: transparent;
    border: 1px solid #ffffff;
    border-radius: 4px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    outline: transparent;
}
.subscribe-input::placeholder {
    font-size: 12px;
    letter-spacing: 0.04em;
    color: #FFFFFF;
}
.subscribe-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 165px;
    height: 40px;
    margin-left: auto;
    margin-right: auto;
    border: none;
    border-radius: 4px;
    padding: 8px 24px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    background: #4D5AE5;
    color: #FFFFFF;
}
.subscribe-btn:hover,
.subscribe-btn:focus {
    background-color: #404BBF;
}
.subscribe-btn-icon {
    margin-left: 16px;
}

@media screen and (min-width: 768px) {
.footer-container {
    display: flex;
    flex-wrap: wrap;
    gap: 24px ;
    flex: calc((100% - 24px) /2);
    flex-direction: row;
    justify-content: start;
}
.page-footer {
    padding: 96px 0;
}
.footer-logo {
    justify-content: start;
}
.footer-social-text {
    text-align: start;
}
.footer-left-part {
    margin-bottom: 48px;
}
.footer-right-part {
    margin-bottom: 80px;
    margin-left: 0;
    margin-right: 0;
}
.footer-subscribe-text {
text-align: start;
}
.footer-form {
    display: flex;
    flex-direction: row;
    gap: 24px;
}
.footer-subscribe-container {
    margin-left: 108px;
}
.footer-left-part {
    margin-left: 108px;
}
.subscribe-input {
    margin-bottom: 0px;
}

}

@media screen and (min-width: 1158px) {
.footer-container{
    flex-wrap: nowrap;
}
    .page-footer {
    padding: 100px 0;
}
.footer-text {
    max-width: 264px;
}
.footer-social-text {
    font-weight: 500;
}
.footer-left-part {
    margin-right: 0;
    margin-left: 0;
}
.footer-right-part {
    margin-left: 120px;
    margin-right: 80px;
}
.subscribe-input {
    margin-bottom 0px;
}
.footer-social-text {
    text-align: start;
}
}