
/*Hero section*/

/*First section*/

/*Second section*/
.second-page-section {
    max-width: 100%;
    background-color: #F4F4FD;
}

.images {
    display: flex;
    justify-content: center;
    align-items: center;
}
.img-list {
    margin-right: 24px;
}

/*Third section*/
/*Footer section*/


.page-footer {
    padding: 100px 0;
}

.footer-text {
    max-width: 264px;
}
.footer-social-text {
    font-weight: 500;
}

.footer-left-part {
    margin-right: 120px;
}


.footer-right-part {
    margin-right: 80px;
}
.footer-right-part {
    margin-left: 0;
    margin-right: 0;
    /*додав*/
}

.subscribe-input {
  margin-bottom 0px;
}

/*Modal window*/