body {
    font-family: "Roboto",
        sans-serif;
    color: #434455;
    background-color: #fff;
}

/* Block page scroll*/

body:has(.backdrop-is-open) {
    overflow: hidden;
}

ul,
ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

a {
    text-decoration: none;
    display: inline-block;
}

img {
    display: block;
}

button {
	font-family: inherit;
	color: currentColor;
}

input {
    font-family: inherit;
}

.container {
    max-width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
}
/*Header*/
.page-header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);

}

.header-container {
    display: flex;
    align-items: center;
}

.header-nav {
    display: flex;
    align-items: center;
}


.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 117%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.header-logo {
    padding: 24px 0;
    margin-right: 76px;
}

.header-logo .logo-part {
    color: #2e2f42;
}

.nav-list {
    display: flex;
    align-items: center;
    gap: 40px;

}

.nav-link {
    padding: 24px 0;
    display: block;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.nav-link.current {
    position: relative;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link.current::after {
    content: '';

    position: absolute;
    left: 0;
    bottom: -1px;

    width: 100%;
    height: 4px;

    background-color: #404BBF;
    border-radius: 2px;


}

.contacts {
    font-style: normal;
    margin-left: auto;
}

.contacts-list {
    display: flex;
    align-items: center;
    gap: 40px;
}

.contacts-link {
    display: block;
    padding: 24px 0;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-link:hover,
.contacts-link:focus,
.nav-link:hover,
.nav-link:focus,
.nav-link.current {
    color: #404bbf;
    
}

/*Hero section*/

.section {
    padding: 120px 0;
    max-width: 1440px;
    margin-right: auto;
    margin-left: auto;
}

.main-section {
    background-color: #2e2f42;
    padding: 188px 0;
    background-image: linear-gradient(to bottom,
            rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)),
        url(../images/hero-background.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}

.main-text-hero {
    max-width: 496px;
    margin-left: auto;
    margin-right: auto;
    font-weight: 700;
    font-size: 56px;
    line-height: 107%;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
}

.main-button {
    display: block;
    text-align: center;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    padding: 16px 32px;
    margin-top: 48px;
    margin-left: auto;
    margin-right: auto;
    background-color: #4d5ae5;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.04em;
    color: #fff;
    outline: none;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.main-button:hover,
.main-button:focus {
    background-color: #404bbf;
    
}

/*First section*/

.page-section {
    max-width: 100%;
    background-color: #FFFFFF;
    
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.descr-list {
    display: flex;
    justify-content: space-between;
    gap: 24px;
}

.descr {
    width: calc((100% - 72px) / 4);
}

.descr-container {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #8E8F99;
    border-radius: 4px;
    width: 264px;
    height: 112px;
    background-color: #F4F4FD;
    margin-bottom: 8px;
}

.descr-item {
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.descr-m {
    margin: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #434455;
}

/*Second section*/

.second-page-section {
    max-width: 100%;
    background-color: #F4F4FD;
}

.team-header {
    text-transform: capitalize;
    font-weight: 700;
    font-size: 36px;
    line-height: 111%;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 72px;
}

.images {
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-list {
    background-color: #FFFFFF;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 
    0 1px 6px 0 rgba(46, 47, 66, 0.08);
    box-sizing: border-box;
    text-align: center;
    border-radius: 0px 0px 4px 4px;
    width: 100%;
    height: 100%;
    margin-right: 24px;
}

.img-d-container {
    padding: 32px 0;
    
}

.img-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 8px;
}

.img-descr {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;
    margin-bottom: 8px;
}

.social-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
    max-width: 264px;
}

.social-list {
        display: flex;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        align-items: center;
        justify-content: center;
        

}

.social-link:hover,
.social-link:focus {
    background-color: #404BBF;
}

.social-link {
    display: flex;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    background-color: #4d5ae5;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
}

.team-svg {
    fill: #f4f4fd;
}

/*Third section*/

.portfolio-header {
    font-weight: 700;
    font-size: 36px;
    line-height: 111%;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    text-transform: capitalize;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 72px;
}

.section .page-section {
    background: var(--white);
}

.port-section {
    display: flex;
    flex-wrap: wrap;
    gap: 48px 24px;
    justify-content: center;
    min-width: 1128px;
    max-width: 1128px;
    margin: 0 auto;
}

.port-img {
    display: block;
    width: 100%;
    height: auto;
}

.port-list {
    width: 360px;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.port-list:hover{
box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
}

.port-list:hover .overlay {
transform: translateY(0);
}

.thumb {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0; 
    left: 0;
    transform: translateY(100%);
    padding: 40px 32px;
    text-align: left;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    font-family: var(--font-family);
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        letter-spacing: 0.02em;
        color: #F4F4FD;
    background-color: #4D5AE5;
}


.portfolio-img-container {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}   

/*Modal window*/

.backdrop {
    background-color:rgba(46, 47, 66, 0.4);
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;
z-index: 3;

opacity: 0;
pointer-events: none;
visibility: hidden;
transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
transition-property: opacity, visibility;   
}

.backdrop-is-open {
    opacity: 1;
        pointer-events: initial;
        visibility: visible;
}

.modal {
width: 408px;
min-height: 584px;
padding: 72px 24px 24px 24px;
position: absolute;
top: 50%;
left: 50%;
transform: translateX(-50%) translateY(-50%);
border-radius: 4px;
background: #FCFCFC;
box-shadow:0px 1px 1px rgba(0, 0, 0, 0.14),
0px 1px 3px rgba(0, 0, 0, 0.12),
0px 2px 1px rgba(0, 0, 0, 0.2);
transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn { 
position: absolute;
    top: 24px;
    right: 24px;
    padding: 0;
    cursor: pointer;

    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn:hover,
.modal-btn:focus {
    background-color: #404bbf;
    border: none;
}
   

.modal-btn-icon {
fill: #2E2F42;
transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn-icon:hover,
.modal-btn-icon:focus {
fill: #ffffff
}

.modal-text {
    margin-bottom: 16px;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2E2F42;
}


.modal-form {


}

.modal-form-field {
margin-bottom: 8px;

}

.modal-form-label {
display: block;
margin-bottom: 4px;
    font-size: 12px;
    line-height: 117%;
    letter-spacing: 0.04em;
    color: #8e8f99;
}

.modal-form-wrapper {
position: relative;
}

.modal-form-input {
display: block;
width: 100%;
height: 40px;
outline: transparent;
border: 1px solid #2E2F4266;
border-radius: 4px;
background-color: transparent;
transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
padding: 11px 38px;


    font-family: var(--font-family);
    font-weight: 500;
    font-size: 14px;
    line-height: 140%;
    color: #434455;
}

.modal-form-input:focus {
    border-color: #4D5AE5;
}

.modal-form-input:focus + .modal-form-icon{
fill: #4D5AE5;
}
.modal-form-icon {
position: absolute;
top: 50%;
left: 16px;
transform: translateY(-50%);
transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
fill: #2E2F42;
pointer-events: none;
}

.modal-form-icon:focus {
    fill: #4D5AE5;
}

.modal-form-message{
    width: 100%;
    height: 120px;
    padding: 8px 16px;

        font-size: 12px;
        line-height: 117%;
        letter-spacing: 0.04em;
        color: color: rgba(46, 47, 66, 0.4);
        background-color: transparent;

border: 1px solid #2E2F4266;
border-radius: 4px; 
outline: transparent;
resize: none;
transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-message:focus {
    border-color: #4D5AE5;
}

.modal_form_message::placeholder {
        font-weight: 400;
        font-size: 12px;
        letter-spacing: 0.04em;
        color: #2E2F4266;
}

.modal-checkbox {
    margin-bottom: 16px;
}

.modal-checkbox-label {
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.04em;
        color: #8E8F99;
}

.modal-checkbox-input:checked + .agreement-checkbox {
    background-color: #404BBF;
    border: none;
    fill: #F4F4FD;
}

.agreement-checkbox{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 16px;
    height: 16px;
    margin-right: 8px;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
    border 250ms cubic-bezier(0.4, 0, 0.2, 1), 
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    cursor: pointer; 
    fill: transparent;
    border-radius: 2px;
    border: 1px solid #2E2F4266;
}

.checkbox-accent-text {
    line-height: 133%;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #4D5AE5;
}

.submit-btn {
 display: block;
 text-align: center;
 min-width: 169px;
 height: 56px;
 border: none;
 border-radius: 4px;
 box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
 padding: 16px 32px;
 margin-left: auto;
 margin-right: auto;
 background-color: #4d5ae5;
 font-weight: 500;
 font-size: 16px;
 line-height: 150%;
 letter-spacing: 0.04em;
 color: #fff;
 outline: none;
 cursor: pointer;
 transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.submit-btn:hover,
.submit-btn:focus {
    background-color: #404BBF;
}

/*Footer section*/

.footer-container {
    display: flex;
    align-items: baseline;
    

}

.page-footer {
    background-color: #2e2f42;
    padding: 100px 0;
}

.footer-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    max-width: 264px;
}

.footer-logo .logo-part {
    color: #f4f4fd;

}

.footer-logo {
    margin-bottom: 16px;
    
}

.footer-social-text {
    font-family: var(--font-family);
        font-weight: 500;
        font-size: 16px;
        line-height: 150%;
        letter-spacing: 0.02em;
        color: #FFFFFF;
        margin-bottom: 16px;
}

.footer-social-link {
    display: flex;
    width: 40px;
    height: 40px;
    background-color: #4D5AE5;
    border-radius: 50%;
    align-items: center;
    justify-content: center;   
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-icon {
    display: flex;
    gap: 16px;
}

.footer-social-link:hover,
.footer-social-link:focus {
    background-color:  #31D0AA;
}

.footer-left-part {
    margin-right: 120px;
}

.footer-svg {
    fill: #f4f4fd;
}

.footer-right-part {
    margin-right: 80px;
}

.footer-subscribe-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.subscribe-label {

}

.subscribe-input {
    width: 264px;
    height: 40px;
    margin-right: 24px;
    background-color: #2E2F42;
    border: 1px solid #FFFFFF;
    border-radius: 4px;

        font-size: 12px;
        letter-spacing: 0.04em;
        color: #FFFFFF;
    outline: transparent;
}

.subscribe-input::placeholder {
    font-size: 12px;
    letter-spacing: 0.04em;
    color: #FFFFFF;
}

.subscribe-btn{
   
    text-align: center;
    min-width: 165px;
    height: 40px;
    border: none;
border-radius: 4px;
padding: 8px 24px;
background:#4D5AE5;

    font-size: 16px;
    letter-spacing: 0.04em;
    text-align: center;
    color: #FFFFFF;
}

.subscribe-btn-icon {
    margin-left: 16px;
}